body {
    background-image: url("background.jpg");
    background-size: cover;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;

}

h1{
    margin-top: 166px;

}

h2{

    margin-bottom: 20px;
}
v
button {
    border: none;
    padding: 10px;


}